.survey-container {
    font-size: "24px" !important;
    color: #D5CEA3 !important;
    font-weight: bold !important;
    font-family: "Times New Roman" !important;
};

.sv_q_radiogroup_control_label , .sv_q_checkbox_control_label {
    color: #DADBC0 !important;
};
